#contact-card {
  background-color: #1c2c40;
  box-shadow: 0 0 200px #255c72;
  border: 1px solid lightblue;
  border-radius: 10px;
}

#contact-card #form-close:hover {
  background-color: #1e2b49;
  color: white;
  border: 1px solid #255c72;
}
#contact-card #form-close:active {
  background-color: #0f1626;
  color: white;
  border: 1px solid #153440;
}
#contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
#contact-form label {
  margin-bottom: 10px;
}
#contact-form input[type="text"],
#contact-form #message {
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  box-shadow: 0 0 5px lightblue;
}
#contact-form #submit-msg {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 18px;
  background-color: #3c6382;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s, border 0.25s;
}
#contact-form #submit-msg:hover {
  background-color: #0a3d62;
}

#contact-form #submit-msg:disabled {
  background-color: #6e6f70;
  color: rgb(163, 163, 163);
  cursor: no-drop;
}
.success-msg {
  color: greenyellow;
  font-size: 1.3rem;
}
.error-msg {
  color: red;
  font-size: 1.3rem;
}
.info-msg {
  color: white;
  font-size: 1.3rem;
}
.error {
  color: red;
  font-size: 0.7rem;
}
