:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
* {
  --color-main: #e9eef2;
  --color-gray: #9babbf;
  --color-third: #6c7a8c;
  --color-teal: #81e6d9;
  --bg-color-second: #142240;
  --bg-color-main: #0f1626;
  --tag-bg-color: #153440;
  --tag-color: #59d9c1;
  padding: 0;
  margin: 0;
}
a[class^="underline"] {
  text-decoration: none;
  padding-left: 0.125em;
  padding-right: 0.125em;
  padding-bottom: 0.05em;
  position: relative;
}
a[class^="underline"]::after {
  content: "";
  position: absolute;
  top: 100%;
  border-bottom: 0.125em solid #3498db;
  transition: all 0.35s;
}
a[class^="underline"]:hover::after {
  transition: all 0.35s;
}
a.underline_from_left::after {
  left: 0;
  right: 100%;
}
a.underline_from_left:hover::after {
  right: 0;
}
a.underline_from_right::after {
  right: 0;
  left: 100%;
}
a.underline_from_right:hover::after {
  left: 0;
}
a.underline_from_center::after {
  right: 50%;
  left: 50%;
}
a.underline_from_center:hover::after {
  right: 0;
  left: 0;
}
#mouse {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
  box-shadow: 0px 0px 500px 40px #00c3ff;
}
a {
  color: var(--color-main);
  text-decoration: none;
  transition: color 0.15s;
}
a:hover {
  color: var(--color-teal);
}
#mouse {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
  box-shadow: 0px 0px 500px 40px #00c3ff;
}
body {
  background-color: var(--bg-color-main);
  color: var(--color-main);
}
p {
  margin: 20px 0;
  color: var(--color-gray);
}
a {
  color: var(--color-main);
  text-decoration: none;
  transition: color 0.15s;
}
a:hover {
  color: var(--color-teal);
}
